{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="glass-container">
        <div class="login-box">
            
            <h2>Login</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="text" id="username" name="username" required placeholder="UserName">
                <input type="password" id="password" name="password" required placeholder="PassWord">
                <div class="options">
                    <input type="checkbox" id="remember" name="remember" checked>
                    <label for="remember">ログイン保持</label>
                    <a href="#">パスワード失念?</a>
                </div>
                <button type="submit">Login</button>
                <p>アカウント作成 <a href="{% url 'signup' %}">こちらから</a></p>
            </form>
        </div>
    </div>
</body>
</html>
