{% extends "base.html" %}
{%load static%}
{% load i18n %}
{% block title %}{% trans "Error List" %}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'errors/css/error_list.css' %}">
<main>
    <h1>{% trans "Error List" %}</h1>
    <form method="get" class="search-form">
        <input type="text" name="q" value="{{ query }}" placeholder="{% trans 'Search errors' %}" class="search-input">
        <button type="submit" class="search-button">{% trans "Search" %}</button>
    </form>

    <ul class="error-list">
        {% for error in page_obj.object_list %}
        <li class="error-item">
            <h3><strong>{% trans "ErrorName" %}:</strong>{{ error.name }}</h3>
            <p><strong>{% trans "Description" %}:</strong>{{ error.description|safe }}</p>
            <p><strong>{% trans "Solution" %}:</strong> {{ error.solution }}</p>
        </li>
        {% empty %}
        <li>{% trans "No errors found. Please try a different search term." %}</li>
        {% endfor %}
    </ul>

    <!-- ページネーション -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; {% trans "First" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">{% trans "Previous" %}</a>
            {% endif %}

            <span class="current">
                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">{% trans "Next" %}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">{% trans "Last" %} &raquo;</a>
            {% endif %}
        </span>
    </div>
</main>



{% endblock %}
